{% extends "base.html" %}

{% block content %}

<article class="content row">
    <div class="col-md-9">
        <h1>My Blog Posts<span class="pinkify">.</span></h1>
        <p>This is a place where I try and document some useful stuff related to web development.</p>
        {% for post in posts %}
        <div class="post-snippet">
            <h3><a href="/blog/{{ post.permalink }}">{{ post.title }}</a></h3>
            <p>{{ post.blurb }}</p>
            <p>{{ post.last_updated|date:"d M Y" }}</p>
        </div>
        {% endfor %}
    </div>
</article>

{% endblock content %}