{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<article class="content row">
    <div class="col-md-12">
        <h1>{{ post.title }}<span class="pinkify">.</span></h1>
        <p class="post-date">{{ post.author.first_name }} {{ post.author.last_name }} - {{ post.created|date:"d M Y" }}</p>
        <p class="post-blurb">{{ post.blurb }}</p>
        {% autoescape off %}
        <div class="post-content">{{ post.content }}</div>
        {% endautoescape %}
    </div>
</article>

<article class="about-me content row">
    <div class="col-md-12">
        <h3>About the author<span class="pinkify">.</span></h3>
        {% autoescape off %}
        <p>{{ post.author.about }}</p>
        {% endautoescape %}
    </div>
</article>

{% endblock content %}