{% extends "base.html" %}

{% block javascript %}
{% include "parts/google-adsense.html" %}
{% endblock %}
{% block title %}{{ post.title }} - {{ post.author.first_name }} {{ post.author.last_name }}{% endblock %}

{% block meta %}
<meta name="description" content="{{ post.blurb }}" />
<meta name="author" content="{{ post.author.first_name }} {{ post.author.last_name }}">

{% comment %} facebook {% endcomment %}
<meta property="og:url" content="{{ page_url }}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:description" content="{{ post.blurb }}" />
{% comment %} endfacebook {% endcomment %}
{% endblock meta %}

{% block content %}

<article class="content row">
    <div class="col-md-12" itemscope itemtype="https://schema.org/BlogPosting">
        <h1><span itemprop="headline">{{ post.title }}</span><span class="pinkify">.</span></h1>
        <p class="post-date"><span itemprop="author" itemscope itemtype="https://schema.org/Person">{{ post.author.first_name }} {{ post.author.last_name }}</span> - <span itemprop="dateCreated">{{ post.created|date:"d M Y" }}</span></p>
        <p class="post-blurb" itemprop="abstract">{{ post.blurb }}</p>
        {% autoescape off %}
        <div class="post-content">{{ post.content }}</div>
        {% endautoescape %}
    </div>
</article>

{% include "parts/disqus.html" %}
{% include "parts/other-posts.html" %}
{% include "parts/about-me.html" %}

{% endblock content %}