{% extends "base.html" %}

{% block content %}

<article class="content home row">
    <div class="col-md-4 text-right hello">HE<br/>LLO<span class="pinkify">,</span></div>
    <div class="col-md-8">
        <h1 class="home-h1">My name is <strong>Kieren</strong>.</h1>
        <p class="home-p">I'm a <strong>web application developer</strong> focusing on interactive development and data analysis.
        I built this website for you to meet the virtual me, to get hold of me if you ever need,
        and to read some lame blog posts about web development - if that's the sort of
        thing you're into.</p>
    </div>
</article>

{# <span class="scroll">SCROLL</span> #}
<div class="vertical-line"></div>

<article class="content row get-in-touch">
    <div class="col-md-8">
        <h2 class="main-cta-heading">Let's work together<span class="pinkify">.</span></h2>
        <div class="cheeky-underline"></div>
        <p>From concept to deployment, I can help get your applications done. I have experience with design, UX, front and back end development, and application deployment. If you have any questions or think that we would make a good team, then reach out.</p>
        <button class="reach-out"><a href="mailto:kieren.c.coetzee@gmail.com">Get in touch</a></button>
    </div>
</article>

<article class="content row open-source">
    <div class="col-md-12">
        <h2 class="main-cta-heading">Open Source<span class="pinkify">.</span></h2>
        <!-- <div class="cheeky-underline"></div> -->
        <p>Here are some of my open source projects.</p>

        <div class="post-snippet">
            <h3><a href="https://pypi.org/project/pytandem/" target="_blank">PyTandem</a></h3>
            <p>A multi-threaded event manager in python for triggering methods concurrently in tandemised groups.</p>
        </div>
    </div>
</article>

<article class="content row">
    <div class="col-md-12" itemscope itemtype="https://schema.org/Blog">
        <h2>Recent posts<span class="pinkify">.</span></h2>
        {% for post in recent_posts %}
        <div class="post-snippet" itemscope itemtype="https://schema.org/BlogPosting">
            <h3><a href="/blog/{{ post.permalink }}"><span itemprop="headline">{{ post.title }}</span></a></h3>
            <p class="post-date"><span itemprop="author" itemscope itemtype="https://schema.org/Person">{{ post.author.first_name }} {{ post.author.last_name }}</span> - <span itemprop="dateCreated">{{ post.created|date:"d M Y" }}</span></p>
            <p itemprop="abstract">{{ post.blurb }}</p>
        </div>
        {% endfor %}
    </div>
</article>

{% endblock content %}