{% extends "base.html" %}

{% block title %}Kieren Coetzee &middot; About{% endblock %}

{% block meta %}
<meta name="description" content="I work as an application developer in the online marketing space, focussing on data analysis and interactive development.
I have worked in the web space since 2011 and I genuinely enjoy what I do." />
{% endblock meta %}

{% block content %}

<article class="content row">
    <div class="col-md-12">
        <h1>About Me<span class="pinkify">.</span></h1>
        <p>Hi there, I'm Kieren, it's nice to meet you. Here's a little more information about me.</p>
        <div class="post-snippet">
            <h3>What I do</h3>
            <p>
                Right now I work as an application developer in the online marketing space, focussing on data analysis and interactive development.
                I have worked in the web space since 2011 and I genuinely enjoy what I do.
            </p>
            <p>
                I am versed in HTML5 and CSS3, Sass/SCSS, Python (Flask, Django), PHP (Slim, Synfony, and a little Zend), JavaScript (React, JQuery), Git, Linux (debian based),
                Postgresql and MySql, Elasticsearch, DNS management (in AWS Route53), Apache and Nginx, Docker, and a little golang.
            </p>
        </div>
        <div class="post-snippet">
            <h3>My Education</h3>
            <p>
                I graduated high school at Cornwall Hill College in Pretoria in 2008, and studied a BA in Interactive Development
                from <a target="_blank" href="https://www.openwindow.co.za">The Open Window University</a>, from 2011 to 2015 also in Pretoria.
            </p>
        </div>
        <div class="post-snippet">
            <h3>Personally</h3>
            <p>
                I live in London, United Kingdom, but I grew up in Gauteng, sunny South Africa. I moved between Johannesburg
                and Pretoria until I emigrated to the UK to be with family in 2016.
            <p>
                I can speak English, Afrikaans, a little Northern Sotho, and am learning Portuguese from my fiance, Patricia.
            </p>
            <p>
                I enjoy go-karting, watching Formula 1, knitting, playing cricket, golfing on occasion, playing PC games with my friends, and
                reading articles on space and physics. I also moderate a group that posts dad jokes on <a href="https://www.scooploop.com/loops/dads-jokes" target="_blank">Scooploop</a>.
            </p>
            <p>
                In 2019 I founded a start up called <a href="https://shop.carderbee.com" target="_blank">Carderbee</a>, a Comparison Shopping
                Service - or CSS - that compares the prices of products from various different merchants
                based in the United Kingdom.
            </p>
        </div>
    </div>
</article>

{% endblock content %}