{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="{% sass_src 'styles/main.scss' %}" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/55fdce8a46.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5NYH9ZCDC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-X5NYH9ZCDC');
    </script>

    <title>{% block title %}Kieren Coetzee{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="Kieren Coetzee is a professional web application developer based in London." />
    {% endblock meta %}
</head>

<body>
    <div class="odin">
        <header>{% include "parts/header.html" %}</header>
        <div>
            <aside class="rotated-fixed d-none d-md-block"><a href="/">kierencoetzee.com/</a></aside>
            {% block content %}howdy ho, if you're seeing this message then I've mucked something up.{% endblock content %}
        </div>
        <footer>{% include "parts/footer.html" %}</footer>
    </div>
</body>
</html>